
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #3e3737;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

body {
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul button {
  display: block;
  border: 1px solid rgb(232, 232, 232);
  margin: 0;
  background-color: #ffffff;
  padding: 5px 8px;
  text-align: left;
  width: 25%;
  margin-bottom: 3px; 
}

ul button:hover {
  background-color: rgb(144, 99, 186);
}

.Barre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.BarreSeach {
  margin-bottom: 20px;
}

.TriBarre {
  display: flex;
  justify-content: space-between;
}

.info {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
  font-family: Arial, sans-serif;
}
